body{
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0f2656;
}

header{
	padding: 20px 0;
	border-bottom: 2px solid #ECEEF2;
}

.container{
	margin: 0px auto;
	width: 85%;
	overflow: hidden;
}
div{
	
}

.logo{
	width: 10%;
	float: left;
	margin-right: auto;
}

.manu{
	width: 50%;
	float: right;
}
.manu ul{
    float: right;
}
.manu ul li{
	list-style: none;
	float: left;
}

a{
	padding: 0 20px;
	text-decoration: none;
	color: #0f2656;
}

.banner{
	padding: 55px 0px;
	text-align: center;
}
h1{
	margin: 0px;
	font-size: 65px;	
}
.line-1{
	color: #0f2656;
	margin-bottom: 10px;
}
.line-2{
    color: #008aff;
}
p{
	margin: 22px 10px 20px;
	color: #08296e;
}
.wrapper2 {
	width: 50%;
  
	margin: 0 auto;
	overflow: hidden;
  }
  .t_center {
	text-align: center;
  }
  .b_h1 {
	margin: 0;
	font-size: 70px;
	font-weight: 700;
	line-height: 90px;
  }
  .b_h1 span {
	color: #1493ff;
  }
  .b_p {
	line-height: 30px;
	margin: 10px 0 20px;
  }
  .b_img {
	width: 80%;
	margin: 0 auto;
  }
  .b_img img {
	width: 100%;
  }
  
  .about {
	padding-bottom: 60px;
  }
  
  .a_left {
	width: 40%;
  
	float: left;
	text-align: right;
  }
  
  .a_left h2 {
	font-size: 40px;
	font-weight: 700;
	color: red;
	margin: 0;
  }
  
  .a_left p {
	margin: 5px 0 0;
	line-height: 25px;
  }
  .a_right {
	width: 56%;
  
	float: right;
  }
  .a_right h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
  }
  
  .service {
	padding-bottom: 550px;
	
  }
  .card1 {
	float: left;
	width: 27%;
	/* border: 1px solid black; */
	padding: 30px 40.5px 40px;
	margin-right: 40px;
  }
  .card1:first-child {
	background-color: #fdebed;
  }
  .card1:nth-child(2) {
	background-color: #eaf9f4;
  }
  .card1:nth-child(3) {
	background-color: #fff8e8;
	margin-right: 0;
  }
  
  .card1 img {
	width: 100%;
  }
  .card_h2 {
	margin: 15px 0;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
  }
  .card_p {
	margin: 0;
	line-height: 25px;
	text-align: center;
  }
  
  footer {
	background-color: #1493ff;
	padding: 30px 0;
	text-align: center;
  }
  
  footer p {
	margin: 0;
	color: white;
  }
  footer p a {
	color: white;
	text-decoration: none;
  }